*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100%;

}
.hero{

    height: 100vh;
    animation: dog 10s ease-in-out 0s infinite;
}
@keyframes dog {
    0%{
         background: url(/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg)no-repeat center center/cover;

    }
    25%{
        background: url(/sincere-laugh-showing-picture-smartphone-casual-meeting-with-best-friends-restaurant-terrace.jpg)no-repeat center center/cover;
    }
    50%{
        background: url(/mask.jpg)no-repeat center center/cover;
    }
    75%{
        background: url(/1440x960-barista.webp)no-repeat center center/cover;
    }
    100%{
         background: url(/happy-waitress-giving-coffee-customers-while-serving-them-coffee-shop.jpg)no-repeat center center/cover;
    }

    
}
.hero nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    border: 1px solid black;
    backdrop-filter: blur(10px);
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    z-index: 1;
    padding-inline: 100px;


    


}
.hero nav img{
    height: 90px;
    border-radius:50px;
    margin-left: 10px;

}
.hero nav h1{
    color: #FFFFFF;
    font-size: 24px;
    font-family:  sans-serif;
    margin-right: 200px;
    padding-right: 3px;
}


.hero nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}
.hero nav ul li a{
    font-size:20px ;
    text-decoration: none;
    color: white;

}
.hero nav ul li a:hover{
  color: #DDA15E;
  border-bottom: 2px solid rgb(237, 228, 228);
}

.mid{
    height: 100vh;
   
}
 .side{
    height: 40vh;
}

.mid img{
    height: 500px;
    
    margin-top: 40px;
    border-radius: 30px;
    
}
.main{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    text-align: center;
     background-color:#532d02eb ;
     padding: 10px 16px;
     
    }

.content p{

    font-size: 30px;
}
.content h1{
    margin-bottom: 30px;
    font-size: 50px;
}
 .card{
     height: 516px;
     min-width: 280px;
    border: 1px solid black;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin: 15px 15px;

}
.carding{
    background-color: #DDA15E;
    font-family: sans-serif;
}
.heading p{
    padding-top : 80px;
}
.carding p {
    text-align: center;
    color: white;
}
.carding h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}
.cards .card01{
    background: url('/images/image1.jpg')no-repeat center center/cover;
    box-shadow: inset 0 10px 20px ;
    border-radius: 30px;
}
.cards .card02{
    background: url('/images/image2.avif')no-repeat center center/cover;
    box-shadow: inset 0 10px 20px ;
    border-radius: 30px;
}
.cards .card03{
    background: url('/images/image3.avif')no-repeat center center/cover;
    box-shadow: inset 0 10px 20px ;
    border-radius: 30px;
}
.cards .card04{
    background: url('/images/image4.avif')no-repeat center center/cover;
    box-shadow: inset 0 10px 20px ;
    border-radius: 30px;
}
.cards .card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    
}
.cards .card h1{
    margin-bottom: 40px;
    color: white;
}
.cards .card p{
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
    box-shadow: 10px 100px 500px orange;
}
span{
    font-size: 15px;
    border: 1px solid black;
    background-color: orange;
    color: white;
    padding: 5px;
}
.block{
    display: flex;
    flex-direction: column;
    height: 350px;
   
    position: absolute;
    top:55%;
    left: 50%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.65);
    transform: translate(-55%, -50%) rotate(45deg);
    pointer-events: none;
    color: white;
}

.block p{
    position: relative;
  
    top: 60px;
    color: #ddA15E;
    font-weight: 400;
    font-family: sans-serif;
     transform: translate(-30%, -50%) rotate(-47deg);
} 
 .block h1{
    position: relative;
    font-size: 54px;
    top: 60px;
    right: 60px;
    
    transform: translate(-3%, 10%) rotate(-47deg);
}
.btn{
    color: white;;
    text-decoration: none;
    border:1px solid white;
    border-radius: 30px;
    padding:  10px 30px;
    font-weight: 800;
    margin-left: 20px;
}
.block h2{
    position: relative;
    top: 60px;
    transform: translate(-3%, 10%) rotate(-47deg);
    font-size: 25px;

}
.mybtn{
    color: floralwhite;
    border: 1px solid black;
    border-radius: 20px;
    width: 150px;
    position: relative;
   top: 100px;
    transform: translate(0%, 40%) rotate(-47deg);
}
.bn{
    transform: translate(0%, 40%) rotate(-47deg);
}
.btn01{
      margin-right: 70px;
      padding: 10px;
     background: rgba(0, 0, 0, 0.35);
     text-decoration: none;
     
}

 .btn:hover{
    color: #0c0303;
    background-color: white;
 }
 
 .click{
    font-size: 25px;
    border-radius: 30px;
    border: 2px solid rgb(248, 239, 239);
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    position: relative;
    
 }
 .click:hover{
    background-color: white;
    color: #DDA15E;
 }

 .btn02{
    
    text-decoration: none;
    color: white;
    position: relative;
    top: 100px;
    background-color: #BC6C25;
    border: 1px solid orange;
    border-radius: 30px;
    padding: 5px 3px;
 }

 .btn02:hover{
    background-color: orange;
    color: balck;
 }

 .menu {
    height:100% ;
    background: url("/images/section3.jpg")no-repeat center center/cover;
    display: flex;
    justify-content: space-around;
    width: 100%;


 }

 .menu .breakfast{
    display: flex;
    flex-direction: column;

    position: relative;
    top: 50px;
    width: 40%;
      height: 50%;
    border: 1px solid white;
     background-color: rgba(0, 0, 0, 0.65);
     border-radius: 30px;
     color:white;
     margin-bottom: 5%;
     
     
    

 }
 .menu .coffee{
    display: flex;
    flex-direction: column;
      gap: 13px;
    position: relative;
    top: 45px;
    width: 40%;
  height: 50%;
    border: 1px solid white;
     background-color: rgba(0, 0, 0, 0.65);
     border-radius: 30px;
     color:white;
      margin-bottom: 5%;
 }

 .breakfast p{
    position: relative;
    left: 40%;
    margin-top: 60px;
    margin-bottom: 5px;
 }
 .breakfast h1{
    position: relative;
    left: 40%;
 }
 .coffee p{
    position: relative;
    left: 40%;
   margin-top: 60px;
    margin-bottom: 5px;
 }
 .coffee h1{
    position: relative;
    left: 42%;
    top: -12px;
 }

 .menu .breakfast .first h4{
    font-size: 20px;
    font-weight: 900;
 }
 .menu .coffee .latte h4{
     font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
   
 }
.menu .breakfast .first h5{
    font-size: 20px;
    font-weight: 900;
    color: #BC6C25;
 }
 .menu .coffee .latte h5{
     font-size: 20px;
    font-weight: 900;
    color: #BC6C25;
 }
 .menu .breakfast .second h6{
position: relative;
right: 30px;
    color:white;
    opacity: .3;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
     border-top: 1px solid white;
    
 }
  .menu .coffee.second h6{
    position: relative;
     right: 30px;
    color:white;
    opacity: .3;
    font-size: 17px;
      border-top: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
   
 }
 .btn::after{
    content: "";
 }

 .testimonial{
    background-color: #7c5c52;
    padding-bottom: 30px;
 }
 

 .first{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin-top: 30px;
 }
.second{
    position: relative; 
    font-size: 20px;
    margin-top: 7px;
    padding-top: 10px;
   
}
.second h6{
    position: relative;
    left: 15%;
}

 .second1{
    position: relative; 
    font-size: 25px;
    margin-top: px;
    padding-top: 7px;
    
    opacity: .3;
    font-family: Arial, Helvetica, sans-serif;
}
.second1 h6{
    position: relative;
    left: 16%;
    border-top: 2px solid #4c4f51;
}
.latte h4{
    position: relative;
    right: 1%;
}
.box{
    border: 3px solid white;
    background-color: #DDA15E;
    border-radius: 30px;

   
    
}
.box .bg{
    position: relative;
    top: 5px;
    z-index: 1;
    height: 10vh;
    width: 10vh;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.grid{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
    gap: 20px;
    margin-top: 100px;

    
}
.box h4{
    position: relative;
    bottom: 65px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
.testi h5{
    position: relative;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    top: 20px;
}

.testi h1{
    position: relative;
    top: 40px;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;

}
.box img{
    position: relative;
    bottom: 84px;
    height: 100px;
    
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
}
.line{
    position: relative;
    bottom: 20px;
    border-top: 1px solid #212529;
  
    margin-left: 20px;

}
.rating{
    display: flex;
    position: relative;
    left: 20px;
    color: white;
    font-weight: 900;
}


.footer{
    background: url(/mask.jpg)no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ft{
    
     height: 100vh;
    color: #FFFFFF;
   
 
}
.add{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 50px;
    margin-top: 300px;
}

.add p{
    font-size: 25px;
}
.contact{
     position: relative;
     top: 40px;
     left: 100px;
     
}
.contact p{
    position: relative;
    font-size: 25px;
    bottom: 10px;
}
.day{
    position: relative;
    left: 30px;
     top: 40px;
}
.day p{
    position: relative;
    font-size: 25px;
    bottom: 10px;
}
.day h1{
    display: flex;
}

.icon{
    position: relative;
    padding-top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
}
.icon h1{
    font-size: 30px;
    padding-top: 10px;

}
.icon p{

}
.latte{
    display: flex;
    justify-content: space-around;
}

.form{
    position: relative;
    top: 50px;
    right: 20%;
    font-size: 23px;

    
    
}
.form h1{
    color: white;
    font-size: 40px;
}
.form1{
    position: relative;
    right: 23px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.place:hover{
    background-color: #fd7701;
    opacity: 200;
}
.hit{
    position: relative;
    margin-top: 50px;
    padding: 15px;
    border-radius: 30px;
    background-color: #BC6C25;
    color: white;
    font-size: 20px;
    width: 200px;
}
.hit:hover{
    color: #BC6C25;
    background-color: #FFFFFF;
}

#mikkii{
    display: flex;
     gap: 50px;
     font-size: 30px;
}
#bar{
    display: none;
}
header nav label{
    display: none;
}


@media  screen and (max-width:786px) {
   
header nav label{
    display: block;
}
    .hero nav{
        height: 100px;
        padding: 4%;
    }
   .hero nav img{
    position: relative;
    right: 0px;
   }

   #bar:checked~nav ul li a{
     display: block;
      z-index: 1999;
      position: absolute;  
      right:10px;
      color: white;
    background-color: #c0702a;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
      }
  /* header nav ul li a{
  
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
    color: #fd7701;
  } */
  header nav ul li a{
    position:relative;
    margin-top: 80px;
  }

  header nav ul{
    flex-direction: column;
    background-color: #ddA15E;
   
  }
 
  
    .menu{
       width: 100%;
    }
    
    .menu  .breakfast{
        padding: -16px;
        height: fit-content;

        
    }
    
    .hero nav  ul a{
        display: none
    }
    #bar{
        display: block;
        color: #fd7701;
        position: relative;
        right: 60px;
       }
        .hero nav .btn{
            display: none;
        }
    
   .hero nav{
    width: 76%;
    margin-left: 40px;
   }

    .main{
        display: grid;
        gap: 166px;
        
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }

    
    .grid{
        grid-template-columns:repeat(1,1fr);
        width: 100px;
        position: relative;
        left: 300px;
  
         }
    
    .add{
    
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
    }
    .ft{
        height: fit-content;
      

    }
    
    .form{
        position: relative;
        left: 90px;
    }
.place:hover{
    background-color: #fd7701;
    opacity: 200;
}
.contact{
    position: relative;
    left: 30px;
}
}

@media screen and (max-width:426px) {


    header nav label{
        position: relative;
        right: 150px;
    }
    .menu{
        display: grid;
        grid-template-columns: 1fr;
    }
    .block{
        position: absolute;
        left: 170px;
        height: 150px;
        width: 150px;
        
    }
    .block h1{
        margin-left: 100px;
        font-size: 29px;

    }
    .block h2{
         margin-left: 100px;
         font-size: 10px;
         position: absolute;
        
    }
    .block .bn{
        position: absolute;
        top: 30px;
        padding: 30px;
    }
  .hero nav ul{
    position: relative;
    right: 50px;
    
  }
     .hero nav  ul a{
        display: none;
        
    }
    .hero nav h1{
        position: relative;
        right: 190px;
    }
    #bar{
        position: relative;
        right: 420px;
        display: block;
        color: #fd7701;
    
       }
        .hero nav .btn{
            display: none;
        }
        .hero nav{
            width: 380px;
            position: relative;
            right: 30px;
            bottom: 25px;
        }

    .cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
   .menu .breakfast{
        padding: -16px;
        width: 90%;
        height: fit-content;

        
    }
     .menu .coffee{
         padding: -16px;
        width: 90%;
        height: 90%;
    }

    .box{
        position: relative;
        right:270px;
    }
    .form{
        margin-left: 100px;
    }
    .form1{
        flex-direction: column;
        margin-left: 50px;
    }
    .msg{
        margin-left: 20px;
    }

    .mid img{
        width: 299px;
    }
  
   .contact{
    position: relative;
    left: 13px;
   }
  .day{
    position: relative;
    left: 10px;
  }
  .icon{
    position: relative;
    left: 20px;
  }
}